<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--端口-->
    <add key="port" value="6779" />
    <!--是否开启日志记录:Yes,No-->
    <add key="IsLog" value="Yes" />
    <!--设备注册及用户登录-->
    <add key="clienthost" value="47.114.108.44" />
    <add key="cilentport" value="12000" />
    <add key="clientuser" value="Admin" />
    <add key="clientpwd" value="Admin" />
    <add key="clientislan" value="0" />
    <!--需要最大化最小化的程序名称，AR鹰眼-->
    <!--add key="AppName" value="ICE.CloudSecurity.App" /-->
    <add key="AppName" value="devenv" />
    <!--弹窗特效开关:Yes 或 No-->
    <add key="isEffect" value="Yes"/>
    <!--指定打开的快捷方式路径,多个快捷方式用‘,’隔开-->
    <add key="lnkpath" value=""/>
  </appSettings>
</configuration>